:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-2: #ffffff;
  --primary-bg-color: #E5E5E5;
}

body {
  background-color: var(--primary-bg-color)
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.logo {
  color: #000;
}

.logo-web {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}

.contacts .contacts-link {
  color: var(--primary-text-color);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--accent-color-2);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
}

/* Work */

/* Team */

.team .title {
  color: var(--title-text-color);
}

/* Button */

.button {
  color: var(--accent-color-2);
  background-color: var(--accent-color);
}
